body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: Arial, sans-serif;
}

/** HEADER **/

#header-nav {
  background-color: lightgrey;
  border-radius: 0;
  border: 2px solid black;
}

.navbar-brand {
  padding-top: 10px;
  padding-left: 10px;
}

.navbar-brand h1 { /* Brand name */
  color: navy;
  font-size: 1.75em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  text-align: left;
  margin-top: -15px;
  margin-bottom: 0;
  padding-left: 10px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

h2 { /* Menu name */
  color: black;
  font-size: 1.6em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  text-align: center;
  margin-top: 10px;
}

h3 {
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  font-size: 1.3em;
}

div > p {
  text-align: justify;
}

.content-cell {
  background-color: lightgrey;
  margin-bottom: 15px;
  padding: 10px 15px;
}

.content-cell h2 {
  margin-top: -5px;
}

/* No menu XS screen */
@media (min-width:768px){
  #collapsable-nav {
    visibility: hidden;
  }
}

/* XS screen */
@media (max-width:767px){

  .navbar-brand h1 {
    margin-left: -20px;
    margin-bottom: 40px;
  }

 #collapsable-nav {
    background-color: white;
    padding-bottom: -40px;
    margin-bottom: -15px;
    border: 0;

  }

  #nav-list {
    margin-top: 0;
  }

  #nav-list li a {
    background-color: lightblue;
    color: black;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    padding-bottom: -20px;
  }

  #nav-list a:hover {
    background: #E7E7E7;
  }

  #nav-list a span {
    font-size: 1.5em;
  }

  #nav-list li:hover{
      font-weight: bold;
  }


} /* end XS screen */

/* END HEADER */