
body {
	margin: 10px;
}

/* style h1 */
h1 {
    text-align: center;
	font-size  :175%;
    padding: 2px;
}

/* row width */
.row {
    width: 100%;
}

/* taille box et font pour la page */
* {
    box-sizing: border-box;
    font-family: "Lucida Console", Tahoma, Arial, Helvetica, sans-serif;
}

/* style cadre */
#cadre1, #cadre2, #cadre3 {
    border: 1px solid black;
    margin: 10px;
    float:left;
    background-color: lightgrey;
    position: relative;
    width: calc(25% - 20px);
}

/* text h2 */
h2 {
	text-align: center;
	border-bottom: 1px solid black;
    border-left: 1px solid black;
	font-size : 125%;
    margin-top: 0;
    margin-left: 50%;
    padding:  2px;
}

#vert > h2 {
    background: #2e8b57;
    color: yellow;
}
#rouge > h2 {
    background: #ff0800;
    color:  white;
}
#bleu >h2 {
    background: #6495ed;
    color: white;
}

/*  p contenu */
p {
    text-align: left;
    padding: 10px;
    font-size : 90%;
    height: fit-content;
}

/* media query */
/* vue desktop  */

@media (min-width:992px)  {
    #cadre1, #cadre2, #cadre3 {
    width : calc(33.33% - 20px);
    }
}

/* vue tablette 768px < tv < 991px */
@media (min-width: 768px) and (max-width: 991px) {
    #cadre1, #cadre2 {
    width: calc(50% - 20px);     
    }
    #cadre3 {
    width: calc(100% - 20px); 
    }
   
}

/* vue mobile */
@media (max-width:767px) { 
    #cadre1, #cadre2, #cadre3 {
    width: calc(100% - 20px); 
  }
}

